 <% layout("/layouts/boilerplate") %>

  <title>Login</title>
</head>
  <h1 style="color: red;">Login on WanderLust</h1>
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input placeholder="Enter your email" type="email" name="email" id="email" class="form-control" required>
    </div><br>

    <div>
      <label for="inputPassword6" class="col-form-label">Password</label>
      <input placeholder="Password" type="password" name="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" required>
    </div><br><br>

    <button class="btn btn-success" type="submit">Login</button><br><br>
  </form>

  